@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   scroll-behavior: smooth;
}


/* navbar */

.bg-company-red {
    background-color: #151728 !important;
}

.navbar-custom{
  background-color: #151728;
}

.sell {
  background-color: #EC2126;
 padding: 6px 0px 6px 0px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 158px;
  /*margin-top: -10px;*/
  color: white;

}

.sell h6{
  margin-bottom: 0.3rem;
}
.navbar-nav a{
  text-decoration: none;

}

.sell:hover,.sell:hover h5 , .sell:hover i{
  background-color: white;
  color: red;
  transition: 0.3s ease-in;
}



.sell i{
  font-size: 21px;
}

ul i{
  color: white;
}

.csk{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 12px;
}
/* our blog */

.blog{
  height: 110px;
  /*background-color: yellow;*/
  font-family: 'Poppins', sans-serif;
  background-color: #F9F9F9;
}

.blog .blog-content{
 position: relative;
  height: 110px;
  /*text-align: center;*/
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  
}

.blog .blog-content .blog-material{
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

 #x{
      font-weight: bold;
}

/*blog post*/


.blog-post{
  height: auto;
  /*width: 97vw;*/
  /*border: 2px solid red;*/
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #F9F9F9;
  flex-wrap: wrap;
}

.blog-post .card{
      width: 400px;
      min-height: 350px;
      max-height: fit-content;
      /*border: 2px solid yellow;*/
      margin-bottom: 20px;
          box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.blog-post .card  .img {
    width: 100%;
    height: 210px;
    background-image: url(https://images.unsplash.com/photo-1503736334956-4c8f8e92946d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.blog-post .card .card2 {
    background-image: url(https://images.unsplash.com/photo-1605559424843-9e4c228bf1c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80);
}

.blog-post .card .card3 {
    background-image: url(https://images.unsplash.com/photo-1542362567-b07e54358753?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}
  

  /*.blog-post .card h5{
    font-weight: inherit; !important;
  }*/
.blog-post .card h5 {
    /*font-weight: bold;*/
    padding-left: 20px;
    font-size: 14px;
    padding-top: 10px;
}

.blog-post .card p {
    padding: 0 20px 0 20px;
    line-height: 20px;
    letter-spacing: 1px;
}

.blog-post .card h5 {
    /*font-weight: bold;*/
    padding-left: 20px;
}

.blog-post .card a {
    color: red;
}


/*footer*/

.foot{
  height: auto;
  background-image: url('https://images.unsplash.com/photo-1471479917193-f00955256257?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1448&q=80');
  background-position:center;
  background-size: cover;
   
   position: relative;

}

.foot::before{
  background-color: #080E1E;
  opacity: 0.7;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.foot .set{
  margin-top: 40px;
  height: fit-content;
  background-color: transparent;
  margin-bottom: 65px;
  /*opacity: 0.2;*/
}

.foot .row {
    margin-right: 30px;
    margin-left: 30px;
}

.foot .set p{
  color: white;
  opacity: 0.7;
}

.foot .set h2{
  font-weight: bold;
  color: white;
}

.foot .set ul{
  list-style: none;
  color: white;
  opacity: 0.7;
}

.foot .set ul li{
  padding-bottom: 10px;
  padding-left: 5px;
}

.foot .set h3{
  color: white;
  opacity: 0.7;
  padding-top: 5px;
}

.foot .set3 ul li{
  padding-bottom: 5px;
  padding-left: 5px;
}

.foot .set3 ul li a{
  color: white;
  opacity: 0.7;
  padding-left: 20px;
}

.data{
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  display: flex;
}

.data input{
  display: inline-block;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding-left: 20px;
}

.data .push{
  width: 20%;
  height: 100%;
  background-color:red;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.data .push i{
  padding-top: 10px;
  color: white;
  font-size: 15px;
}

.foot2{
  height: 48px;
  /*background-color:white;*/
  /*width: 100%;*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.foot2 .end{
  display: flex;
  justify-content: space-between;
  width: 282px;
  /*background-color:yellow;*/
  height: 100%;
  /*margin-top: -30px;*/
  /*order: 1;*/
}

.foot2 .end  .top{
  width: 30px ;
  height: 30px;
  background-color: white;
  display: inline-block;
  /*margin-left: 60px;*/
  /*margin-top: 5px;*/
  position: relative;

}

.foot2 .end  .top a{
  color: white;
}

.foot2 .end .social{
      width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    align-items: center;
    display: inline-block;
    position: relative;
    border: 1px solid white;
    margin-left: 5px;
    padding: 3px;
    padding-left: 8px;
}

.foot2 .end .tweet{
  padding-left: 7px;
}

.foot2 .end .google,.linked{
  padding-left: 6px;
}

.foot2 .end .top{
  margin-left: 40px;
  border-radius: 0;
  background-color: red;
  padding-left: 9px;
  color: white;
  scroll-behavior: smooth;
}

.foot2 p{
  color: white;
  opacity: 0.7;
  /*order: 2;*/
  /*margin-top: 40px;*/
  text-align: center;
}


@media(max-width: 768px){
  .ach .ach2 .det{
  height: 100px;
  padding: 10px 0 0 1px;
}

.foot2 p{
  order: 2;
}

.foot2 .end{
  order: 1;
}

  .foot2 .end{
        margin-top: -48px;
  }
}